.level-bar {
    background: black;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'cincel';
}

.blood-status {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    margin: 10px;
}

.blood-amount {
    display: flex;
    flex-direction: column;
}

.blood-count {
    color: red;
}

.blood-counter {
    display: flex;
    flex-direction: row;
    color: white;
}

.blood-icon {
    width: 12px;
}

.blood-tag {
    color: white;
    text-align: left;
}

.level-status {
    display: flex;
    align-items: center;
}

.level-tag {
    color: white;
}

.bracket {
    width: 15px;
}

.exp-status {
    text-align: center;
}

.exp-tag {
    color: #fccc00;
    font-size: 15px;
    font-weight: bold;
}

.help {
    margin-right: 5px;
}

.help-button {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    font-size: 30px;
    border: 2px solid #666;
    font-family: "cinzel";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    /* Necesario para el pseudo-elemento */
}

.help-button::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: -5px;
    right: 7px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    filter: blur(6px);
    /* Difumina el reflejo */
    transform: scaleY(0.7);
    /* Estira verticalmente el reflejo para darle curva */
}

.help-mark {
    font-weight: bold;
    font-size: 20px;
}

.help-text {
    color: red;
    font-family: "Garamond", serif;
    font-size: 15px;
}

/* Ajustes para pantallas más pequeñas como el iPhone X */
@media screen and (max-width: 400px) {
    .level-bar {
        font-size: 18px;
        /* Reducir tamaño de fuente */
        height: 50px;
        /* Ajustar la altura de la barra */
    }

    .help-button {
        width: 45px;
        height: 45px;
        font-size: 25px;
        /* Reducir tamaño de fuente en el botón */
    }

    .help-button::after {
        height: 37px;
        top: -5px;
        right: -2px;
    }

    .help-mark {
        font-size: 18px;
        /* Reducir tamaño de la interrogación */
    }

    .help-text {
        font-size: 13px;
        /* Reducir tamaño del texto "HELP" */
    }

    .blood-status {
        margin: 5px;
        /* Reducir margen en pantallas más pequeñas */
    }
}