.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ancho total de la pantalla */
    height: 100vh; /* Altura total de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/background/background.png'); /* Ruta relativa a la carpeta public */
    background-size: 100% 100%; /* Ajusta la imagen exactamente al tamaño del div */
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
}
